/*
COLORS:

Color1: #5d5c61;
Color2: #379683;
Color3: #7395ae;
Color4: #557a95;
Color5: #b1a296;
*/
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #5d5c61;
    padding: 30px;
}


.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, #37968386, #557a9585), url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}





.menu-wrap {
  position: fixed;
  top: 50px;
  right: 60px;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 50px;
  right: 60px;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 20px;
  right: 40px;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger line */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;

}

.menu-wrap .hamburger > div:after {
  top: 10px;
}

/* toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
  }

  /* show menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }

  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: .4s;
  }

  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;;
    transform: opacity 0.5s ease;
  }

.menu-wrap .menu {
   position:fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   visibility: hidden; 
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
}

.menu-wrap .menu > div {
  background: #379683f1;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0); 
  transition: all 0.4s ease;
}

.menu-wrap .menu > div >div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0; 
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  
}
.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s eae;
}






.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo-box svg {
    max-width: 45rem;
    width: 50%;
    height: 50px;
    fill: #fff;
    stroke: rgb(236, 236, 241);
    stroke-width: 6;
  }
  .logo-box svg tspan > tspan {
    stroke-dasharray: 1500;
    stroke-dashoffset: -1500;
  }
  .logo-box svg tspan > tspan:nth-of-type(1) {
    -webkit-animation: draw 300ms 150ms forwards;
            animation: draw 300ms 150ms forwards;
           
  }
  .logo-box svg tspan > tspan:nth-of-type(2) {
    -webkit-animation: draw 300ms 300ms forwards;
            animation: draw 300ms 300ms forwards;
  }
  .logo-box svg tspan > tspan:nth-of-type(3) {
    -webkit-animation: draw 300ms 450ms forwards;
            animation: draw 300ms 450ms forwards;
  }
  .logo-box svg tspan > tspan:nth-of-type(4) {
    -webkit-animation: draw 300ms 600ms forwards;
            animation: draw 300ms 600ms forwards;
  }
  .logo-box svg tspan > tspan:nth-of-type(5) {
    -webkit-animation: draw 300ms 750ms forwards;
            animation: draw 300ms 750ms forwards;
  }
  .logo-box svg tspan > tspan:nth-of-type(6) {
    -webkit-animation: draw 300ms 900ms forwards;
            animation: draw 300ms 900ms forwards;
  }
  .logo-box svg tspan > tspan:nth-of-type(7) {
    -webkit-animation: draw 300ms 1050ms forwards;
            animation: draw 300ms 1050ms forwards;
  }
  .logo-box svg tspan > tspan:nth-of-type(8) {
    -webkit-animation: draw 300ms 1200ms forwards;
            animation: draw 300ms 1200ms forwards;
  }
  .logo-box svg tspan > tspan:nth-of-type(9) {
    -webkit-animation: draw 300ms 1350ms forwards;
            animation: draw 300ms 1350ms forwards;
  }
  
  @-webkit-keyframes draw {
    100% {
      stroke-dashoffset: 0;
     
    }
  }
  
  @keyframes draw {
    100% {
      stroke-dashoffset: 0;
    }
  }
  

.text-box {
   position: absolute;
   top: 40%;
   left: 51%; 
   transform: translate(-50%, -50%);
   text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 50px;
}

.heading-primary-main {
    display: block;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 20px;
    
    
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;

    /*animation-duration: 1.5s;
    animation-iteration-count: 3; */
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 5px; 
    animation-name: moveInRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

@keyframes moveInLeft {
    0% {
    opacity: 0;
    transform: translateX(-100px)

    }
    70% {
        transform: translateX(10px);
    }

    100% {
    opacity: 1;
    transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
    opacity: 0;
    transform: translateX(100px)

    }
    
    70% {
        transform: translateX(-10px);
    }

    100% {
    opacity: 1;
    transform: translate(0);
    }
}

@keyframes moveInButton {
    0% {
    opacity: 0;
    transform: translateY(30px);

    }
    
    100% {
    opacity: 1;
    transform: translateY(0);
    }
}

/* Bird animation */
.bird {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells.svg);
    background-size: auto 100%;
    width: 88px;
    height: 125px;
    will-change: background-position;
    -webkit-animation-name: fly-cycle;
            animation-name: fly-cycle;
    -webkit-animation-timing-function: steps(10);
            animation-timing-function: steps(10);
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .bird--one {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
  }
  .bird--two {
    -webkit-animation-duration: 0.9s;
            animation-duration: 0.9s;
    -webkit-animation-delay: -0.75s;
            animation-delay: -0.75s;
  }
  .bird--three {
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
    -webkit-animation-delay: -0.25s;
            animation-delay: -0.25s;
  }
  .bird--four {
    -webkit-animation-duration: 1.1s;
            animation-duration: 1.1s;
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
  }
  
  .bird-container {
    position: absolute;
    top: 20%;
    left: 15%;
    -webkit-transform: scale(0) translateX(-10vw);
            transform: scale(0) translateX(-10vw);
    will-change: transform;
    -webkit-animation-name: fly-right-one;
            animation-name: fly-right-one;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    
  }
  .bird-container--one {
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-delay: 0;
            animation-delay: 0;
  }
  .bird-container--two {
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  
  @-webkit-keyframes fly-cycle {
    100% {
      background-position: -900px 0;
    }
  }
  
  @keyframes fly-cycle {
    100% {
      background-position: -900px 0;
    }
  }
  @-webkit-keyframes fly-right-one {
    0% {
      -webkit-transform: scale(0.3) translateX(-10vw);
              transform: scale(0.3) translateX(-10vw);
    }
    10% {
      -webkit-transform: translateY(2vh) translateX(10vw) scale(0.4);
              transform: translateY(2vh) translateX(10vw) scale(0.4);
    }
    20% {
      -webkit-transform: translateY(0vh) translateX(30vw) scale(0.5);
              transform: translateY(0vh) translateX(30vw) scale(0.5);
    }
    30% {
      -webkit-transform: translateY(4vh) translateX(50vw) scale(0.6);
              transform: translateY(4vh) translateX(50vw) scale(0.6);
    }
    40% {
      -webkit-transform: translateY(2vh) translateX(70vw) scale(0.6);
              transform: translateY(2vh) translateX(70vw) scale(0.6);
    }
    50% {
      -webkit-transform: translateY(0vh) translateX(90vw) scale(0.6);
              transform: translateY(0vh) translateX(90vw) scale(0.6);
    }
    60% {
      -webkit-transform: translateY(0vh) translateX(100vw) scale(0.6);
              transform: translateY(0vh) translateX(100vw) scale(0.6);
    }
    100% {
      -webkit-transform: translateY(0vh) translateX(100vw) scale(0.6);
              transform: translateY(0vh) translateX(100vw) scale(0.6);
    }
  }
  @keyframes fly-right-one {
    0% {
      -webkit-transform: scale(0.3) translateX(-10vw);
              transform: scale(0.3) translateX(-10vw);
    }
    10% {
      -webkit-transform: translateY(2vh) translateX(10vw) scale(0.4);
              transform: translateY(2vh) translateX(10vw) scale(0.4);
    }
    20% {
      -webkit-transform: translateY(0vh) translateX(30vw) scale(0.5);
              transform: translateY(0vh) translateX(30vw) scale(0.5);
    }
    30% {
      -webkit-transform: translateY(4vh) translateX(50vw) scale(0.6);
              transform: translateY(4vh) translateX(50vw) scale(0.6);
    }
    40% {
      -webkit-transform: translateY(2vh) translateX(70vw) scale(0.6);
              transform: translateY(2vh) translateX(70vw) scale(0.6);
    }
    50% {
      -webkit-transform: translateY(0vh) translateX(90vw) scale(0.6);
              transform: translateY(0vh) translateX(90vw) scale(0.6);
    }
    60% {
      -webkit-transform: translateY(0vh) translateX(100vw) scale(0.6);
              transform: translateY(0vh) translateX(100vw) scale(0.6);
    }
    100% {
      -webkit-transform: translateY(0vh) translateX(100vw) scale(0.6);
              transform: translateY(0vh) translateX(100vw) scale(0.6);
    }
  }
  @-webkit-keyframes fly-right-two {
    0% {
      -webkit-transform: translateY(-2vh) translateX(-10vw) scale(0.5);
              transform: translateY(-2vh) translateX(-10vw) scale(0.5);
    }
    10% {
      -webkit-transform: translateY(0vh) translateX(10vw) scale(0.4);
              transform: translateY(0vh) translateX(10vw) scale(0.4);
    }
    20% {
      -webkit-transform: translateY(-4vh) translateX(30vw) scale(0.6);
              transform: translateY(-4vh) translateX(30vw) scale(0.6);
    }
    30% {
      -webkit-transform: translateY(1vh) translateX(50vw) scale(0.45);
              transform: translateY(1vh) translateX(50vw) scale(0.45);
    }
    40% {
      -webkit-transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
              transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
    }
    50% {
      -webkit-transform: translateY(0vh) translateX(90vw) scale(0.45);
              transform: translateY(0vh) translateX(90vw) scale(0.45);
    }
    51% {
      -webkit-transform: translateY(0vh) translateX(100vw) scale(0.45);
              transform: translateY(0vh) translateX(100vw) scale(0.45);
    }
    100% {
      -webkit-transform: translateY(0vh) translateX(100vw) scale(0.45);
              transform: translateY(0vh) translateX(100vw) scale(0.45);
    }
  }
  @keyframes fly-right-two {
    0% {
      -webkit-transform: translateY(-2vh) translateX(-10vw) scale(0.5);
              transform: translateY(-2vh) translateX(-10vw) scale(0.5);
    }
    10% {
      -webkit-transform: translateY(0vh) translateX(10vw) scale(0.4);
              transform: translateY(0vh) translateX(10vw) scale(0.4);
    }
    20% {
      -webkit-transform: translateY(-4vh) translateX(30vw) scale(0.6);
              transform: translateY(-4vh) translateX(30vw) scale(0.6);
    }
    30% {
      -webkit-transform: translateY(1vh) translateX(50vw) scale(0.45);
              transform: translateY(1vh) translateX(50vw) scale(0.45);
    }
    40% {
      -webkit-transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
              transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
    }
    50% {
      -webkit-transform: translateY(0vh) translateX(90vw) scale(0.45);
              transform: translateY(0vh) translateX(90vw) scale(0.45);
    }
    51% {
      -webkit-transform: translateY(0vh) translateX(100vw) scale(0.45);
              transform: translateY(0vh) translateX(100vw) scale(0.45);
    }
    100% {
      -webkit-transform: translateY(0vh) translateX(100vw) scale(0.45);
              transform: translateY(0vh) translateX(100vw) scale(0.45);
    }
  }

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 200px;
    transition: all .2s;
    position: relative;
   
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.btn:active {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.btn-white {
    background-color: #fff;
    color: rgb(7, 5, 20);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
    
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInButton .5s ease-out .75s;
    animation-fill-mode: backwards;
}

/* main section */

.section-about {
  background-color: #f7f7f7;
  padding: 15rem 0;
  margin-top: -12vh;
}

.heading-secondary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right,  #379683b0, #557a95bb );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;
}

.heading-secondary:hover {
  transform: skewY(3deg) skewX(10deg) scale(1.1);
  text-shadow: .4rem 1rem 2rem rgba(0,0,0, 2);
}

.row {
  max-width: 956px;
  margin: 0px auto;
  display: flex;
  align-items: left;
  justify-content: space-around;
}

.col-1-of-2 h3 {
  font-family: 'Lato', sans-serif;
  line-height: 1.8;
  letter-spacing: 2px;
  font-weight: 700;
  width: 45%;
  margin-left: 20px;
}



.first-letter:hover:first-letter {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
}

/*images */
.photo-radius {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 2px solid #379683;
}

.img {
  position: relative;
}

.img img {
  position: absolute;
  right: 100px;
  top: 30px;
}

.img .top {
  animation-name: fade;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-direction: alternate;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.header2 {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #37968386, #557a9585), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(100% 0, 100% 75vh, 0 100%, 0 25vh);

  position: relative;
  top: -250px;
}

/* flip cards */
.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
}

.flip-card {
  
  position: absolute;
  top: 10rem;
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}




/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
/* utilities */
.u-center-text {
  text-align: center;
}

.u-margin-bottom-8 {
  margin-bottom: 8rem;
}

.item1 {
  background: url(../img/item1.jpg);
}

.item2 {
  background: url(../img/item2.jpg);
}

.item3 {
  background: url(../img/item3.jpg);
}

.btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
margin-bottom: 0,3rem;
background: white;
  color: #333;
transition: all 0.5s ease-out;
}

.btn-dark {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
margin-bottom: 0.3rem;
background: #682323;
  color: #fff;
transition: all 0.5s ease-out;
}

.container{
  max-width:1170px;
  margin-left:auto;
  margin-right:auto;
  padding:1em;
  position: absolute;
  top: 11rem;
  left: 28rem;
}

ul{
  list-style: none;
  padding:0;
}

.brand{
  text-align: center;
}

.brand span{
  color:#fff;
}

.wrapper{
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.795);
}

.wrapper > *{
  padding: 1em;
}

.company-info{
  background:#379683;
  opacity: 0.8;
}

.company-info h3, .company-info ul{
  text-align: center;
  margin:0 0 1rem 0;
}

.contact{
  background: #557a95;
  opacity: .8;

}

/* FORM STYLES */
.contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.contact form label{
  display:block;
}

.contact form p{
  margin:0;
}

.contact form .full{
  grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea{
  width:100%;
  padding:1em;
  border:1px solid #c9e6ff;
}

.contact form button{
  background:#379683;
  border:0;
  text-transform: uppercase;
}

.contact form button:hover,.contact form button:focus{
  background:#557a95;
  color:#fff;
  outline:0;
  transition: background-color 2s ease-out;
}

/* LARGE SCREENS */
@media(min-width:700px){
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > *{
    padding:2em;
  }

  .company-info h3, .company-info ul, .brand{
    text-align: left;
  }
}
.footer{
  position: relative;
}

.copyright {

-webkit-clip-path: polygon(100% 75%, 0% 100%, 100% 100%);
clip-path: polygon(100% 75%, 0% 100%, 100% 100%);
position: absolute;
background-color: #5d5c61;

}


  